<h1 style="color:red;">Music Mausoleum</h1>
<h2 style="color:red;">Where the music never dies!</h2>
<img src="SkeletonBand.jpg" alt="Skull in headphones" style="width:70%; height:70%;">
<h3 style="color:red;">Who Dares to Enter?</h3>

<div class="radio">
  <label>
    <input type="radio" name="user" value="Morticia" [checked]='true' ngModel />
    Morticia
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="user" value="Facilier" [checked]='true' ngModel />
    Dr. Facilier
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="user" value="VFrank" [checked]='true' ngModel />
    Victor Frankenstein
  </label>
</div>

<div class="radio">
  <label>
    Enter your name (since you aren't cool enough to be on the guest list)
    <!--<input type="radio" name="user" value="input" [checked]='true' ngModel />-->
    <input type="text" class=" form-control" id="user" name="user" #user />
  </label><br />

  <button class="btn-primary btn" (click)="goToPage('Event')">Enter</button>
</div>
