<body style="background-color:#282128;">

  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

   
  </style>

  <h1 style="text-align:center; color:red;">Music Mausoleum</h1>
  <h2 style="text-align: center; color: red;">Where the music never dies!</h2>


  <img src="assets/SkeletonBand.jpg" alt="Skeleton Band" class="center" style="width:50%; height:50%;">
  <h3 style="text-align: center; color: red;">Who Dares to Enter?</h3>


  <li style="text-align:center" class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['/favorites/1']" onclick="passUserId(1)">MORTICIA</a>
  </li>
  <img src="assets/MorticiaRose.jpg" alt="Morticia with Rose" class="center" style="width:15%; height:15%;">

  <li style="text-align:center" class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['/favorites/2']" onclick="passUserId(2)">DR.FACILIER</a>
  </li>
  <img src="assets/Dr_Facilier.jpg" alt="Dr.Facilier" class="center" style="width:15%; height:15%;">


  <li style="text-align:center" class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['/favorites/3']" onclick="passUserId(3)">VICTOR FRANKENSTEIN</a>
  </li>
  <img src="assets/frankenstein-and-monster.jpg" alt="frankenstein-and-monster" class="center" style="width:15%; height:15%;">


  <li style="text-align:center" class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['/favorites/4']" onclick="passUserId(4)">LYDIA DEETZ</a>
  </li>
  <img src="assets/Lydia Deetz.jpg" alt="Lydia Deetz" class="center" style="width:10%; height:10%;">

</body>
