<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" href="style.css">-->

  <style>
    body {
      font-family: 'Brush Script MT', cursive;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>

</head>
<body>

  <h1 style="color: red">Music Mausoleum</h1>
  <h1 style="color: red">Where the music never dies!</h1>
  <img src="assets/SkeletonBand.jpg" alt="Skull in headphones" style="width:70%; height:70%;">
  <style>
    img {
      border: 2px solid rgb(168, 16, 16)
    }

    h1 {
      text-align: center;
    }

    h1 {
      font-size: 400%;
    }
  </style>

  <form style="text-align:center">
    <p style="font-size:60px">
      <label for="name">Who enters?</label><br>
      <input type="text" id="name" name="name" style="text-align:center"><br>
      <input type="submit" value="Enter the Netherworld" style="background-color: #AA0000">
    </p>

  </form>

</body>
</html>

<!-- <button (click)>name</button> -->
