<p>events works!</p>


<p *ngIf="!events"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="events">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Admission</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{events.eventId}}</td>
      <td>{{ events.eventName }}</td>
      <td>{{ events.eventDate}}</td>
      <td>{{ events.admission}}</td>
    </tr>
  </tbody>
</table>




